SManApi/WUploadTest/Service References/SmServ/SmServ2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SManApi" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SManApi" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReparatorCL">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnvID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RepKatID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reparator" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReparatorCL" nillable="true" type="tns:ReparatorCL" />
  <xs:complexType name="ArrayOfReparatorCL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReparatorCL" nillable="true" type="tns:ReparatorCL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReparatorCL" nillable="true" type="tns:ArrayOfReparatorCL" />
  <xs:complexType name="ArrayOfServiceHuvudCL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceHuvudCL" nillable="true" type="tns:ServiceHuvudCL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceHuvudCL" nillable="true" type="tns:ArrayOfServiceHuvudCL" />
  <xs:complexType name="ServiceHuvudCL">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErtOrdernr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kund" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KundNamn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderAdminID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderAdminNamn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderDatum" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VartOrdernr" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceHuvudCL" nillable="true" type="tns:ServiceHuvudCL" />
  <xs:complexType name="ArrayOfServiceRadListCL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceRadListCL" nillable="true" type="tns:ServiceRadListCL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceRadListCL" nillable="true" type="tns:ArrayOfServiceRadListCL" />
  <xs:complexType name="ServiceRadListCL">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anlaggningsnr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Avdelning" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fabrikat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdNr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KundensPosNr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RadNr" type="xs:int" />
      <xs:element minOccurs="0" name="VartOrdernr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VentilKategori" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ventiltyp" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceRadListCL" nillable="true" type="tns:ServiceRadListCL" />
  <xs:complexType name="ServiceRadCL">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlternateKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Anmarkning" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AntalBoxpack" type="xs:int" />
      <xs:element minOccurs="0" name="AntalBrostpack" type="xs:int" />
      <xs:element minOccurs="0" name="Arbete" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BoxpackMaterial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Boxpackning" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BrostpackMaterial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Brostpackning" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kontroll" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LagesstallArbete" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LagesstallDelar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LagesstallKontroll" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OvrKomment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Radnr" type="xs:int" />
      <xs:element minOccurs="0" name="Reparator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reparator2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reparator3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reservdelar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StalldonArbete" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StalldonDelar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StalldonKontroll" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VartOrdernr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VentilID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceRadCL" nillable="true" type="tns:ServiceRadCL" />
  <xs:complexType name="VentilCL">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anlaggningsnr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Avdelning" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dn2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fabrikat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdNr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KundID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LagesstallFabrikat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LagesstallIDNr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lagesstallartyp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Oppningstryck" type="xs:decimal" />
      <xs:element minOccurs="0" name="Plan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pn2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StalldonArtnr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StalldonFabrikat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StalldonIDNr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stalldonstyp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VentilID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VentilkatID" type="xs:int" />
      <xs:element minOccurs="0" name="Ventilkategori" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ventiltyp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="forceSave" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VentilCL" nillable="true" type="tns:VentilCL" />
  <xs:complexType name="ArrayOfVentilCL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VentilCL" nillable="true" type="tns:VentilCL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVentilCL" nillable="true" type="tns:ArrayOfVentilCL" />
  <xs:complexType name="ArrayOfVentilKategoriCL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VentilKategoriCL" nillable="true" type="tns:VentilKategoriCL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVentilKategoriCL" nillable="true" type="tns:ArrayOfVentilKategoriCL" />
  <xs:complexType name="VentilKategoriCL">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VentilkatID" type="xs:int" />
      <xs:element minOccurs="0" name="Ventilkategori" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VentilKategoriCL" nillable="true" type="tns:VentilKategoriCL" />
  <xs:complexType name="ArrayOfFabrikatCL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FabrikatCL" nillable="true" type="tns:FabrikatCL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFabrikatCL" nillable="true" type="tns:ArrayOfFabrikatCL" />
  <xs:complexType name="FabrikatCL">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fabrikat" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FabrikatCL" nillable="true" type="tns:FabrikatCL" />
  <xs:complexType name="ArrayOfDnCL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DnCL" nillable="true" type="tns:DnCL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDnCL" nillable="true" type="tns:ArrayOfDnCL" />
  <xs:complexType name="DnCL">
    <xs:sequence>
      <xs:element minOccurs="0" name="Dn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DnCL" nillable="true" type="tns:DnCL" />
  <xs:complexType name="ArrayOfPnCL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PnCL" nillable="true" type="tns:PnCL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPnCL" nillable="true" type="tns:ArrayOfPnCL" />
  <xs:complexType name="PnCL">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pn" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PnCL" nillable="true" type="tns:PnCL" />
  <xs:complexType name="ArrayOfArtikelCL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArtikelCL" nillable="true" type="tns:ArtikelCL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArtikelCL" nillable="true" type="tns:ArrayOfArtikelCL" />
  <xs:complexType name="ArtikelCL">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anm1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Anm2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Artnamn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Artnr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LevID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LevNamn" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArtikelCL" nillable="true" type="tns:ArtikelCL" />
  <xs:complexType name="ArrayOfReservdelCL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReservdelCL" nillable="true" type="tns:ReservdelCL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReservdelCL" nillable="true" type="tns:ArrayOfReservdelCL" />
  <xs:complexType name="ReservdelCL">
    <xs:sequence>
      <xs:element minOccurs="0" name="Antal" type="xs:decimal" />
      <xs:element minOccurs="0" name="ArtNamn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Artnr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Enhet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Faktureras" type="xs:boolean" />
      <xs:element minOccurs="0" name="LevID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Radnr" type="xs:int" />
      <xs:element minOccurs="0" name="ReservNr" type="xs:int" />
      <xs:element minOccurs="0" name="VartOrdernr" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReservdelCL" nillable="true" type="tns:ReservdelCL" />
  <xs:complexType name="ArrayOfOpenDateCL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OpenDateCL" nillable="true" type="tns:OpenDateCL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOpenDateCL" nillable="true" type="tns:ArrayOfOpenDateCL" />
  <xs:complexType name="OpenDateCL">
    <xs:sequence>
      <xs:element minOccurs="0" name="Datum" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ErrCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OpenDateCL" nillable="true" type="tns:OpenDateCL" />
  <xs:complexType name="ServRadRepTidCL">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnvID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Datum" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ErrCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="SrAltKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tid" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServRadRepTidCL" nillable="true" type="tns:ServRadRepTidCL" />
  <xs:complexType name="ArrayOfServRadRepTidCL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServRadRepTidCL" nillable="true" type="tns:ServRadRepTidCL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServRadRepTidCL" nillable="true" type="tns:ArrayOfServRadRepTidCL" />
  <xs:complexType name="PictureCL">
    <xs:sequence>
      <xs:element minOccurs="0" name="BildNr" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PictCatID" type="xs:int" />
      <xs:element minOccurs="0" name="PictIdent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Radnr" type="xs:int" />
      <xs:element minOccurs="0" name="VartOrdernr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pictSize" type="xs:long" />
      <xs:element minOccurs="0" name="pictType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PictureCL" nillable="true" type="tns:PictureCL" />
  <xs:complexType name="ArrayOfPictureCL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PictureCL" nillable="true" type="tns:PictureCL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPictureCL" nillable="true" type="tns:ArrayOfPictureCL" />
  <xs:complexType name="ArrayOfStandardTextCL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StandardTextCL" nillable="true" type="tns:StandardTextCL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStandardTextCL" nillable="true" type="tns:ArrayOfStandardTextCL" />
  <xs:complexType name="StandardTextCL">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kategori" type="xs:int" />
      <xs:element minOccurs="0" name="KategoriBeskr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StdTextID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ventilkatID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StandardTextCL" nillable="true" type="tns:StandardTextCL" />
  <xs:complexType name="ArrayOfPictCatCL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PictCatCL" nillable="true" type="tns:PictCatCL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPictCatCL" nillable="true" type="tns:ArrayOfPictCatCL" />
  <xs:complexType name="PictCatCL">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PictCatID" type="xs:int" />
      <xs:element minOccurs="0" name="PictCatName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Step" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PictCatCL" nillable="true" type="tns:PictCatCL" />
</xs:schema>